body {
	width: 100%;
	background-color: #212121;
/*	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;*/
    font-family: 'Ubuntu', sans-serif;
    background-image: url('../img/IMG_1936.jpg');
}

header {
	background-color:  #17202a;
	color: white;
    padding: 10px 10px;
    padding-left: 35px;
    background-image: url('../img/IMG_1933.jpg');
    font-family: 'Ubuntu', sans-serif;
}

nav {
	background-color:   #616a6b;
	margin-bottom: 30px;
	padding: 10px;
	height: 50px;

}

nav ul {
    float: left;
    padding-left: 0px;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 30px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
    border-radius: 7px;
       background: #cbe2c1;
   background: -webkit-linear-gradient(to right,  #e4f5fc, #2ab0ed);
   background: -moz-linear-gradient(to right,  #e4f5fc, #2ab0ed);
   background: linear-gradient(to right,  #e4f5fc, #2ab0ed);
}
#submitCode {
    list-style-type: none;
    text-align: left;
}
#tableheaders {
    text-align: left;
    font-weight: bold;
}
#tabledata {
    text-align: left;
}
#tableproperties {
    width: 90%;
}
#inputlabel {
    list-style-type: none;
    text-align: right;
}

#inputbox {
    list-style-type: none;
    text-align: left;

}
#inputbutton {
    grid-column: span 2;


}
.addSnippet-form-items {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 0px;

}
