body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

header {
	background-color:  #17202a;
	color: white;
	padding: 10px 10px;

}

nav {
	background-color:  #ccd1d1;
	margin-bottom: 30px;
	padding: 5px;
	height: 20px;

}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 30px;
	font-size: .8em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

#tableheaders {
    text-align: left;
    font-weight: bold;
}
#tabledata {
    text-align: left;
}
#tableproperties {
    width: 90%;
}